.app {
  text-align: center;
  height: 100vh;
  overflow-y: auto;
  color: #9f7b71;
  margin-left: 300px;
  width: calc(100vw - 300px);
  font-family: "Rubik", sans-serif;
}

.app-body {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
