.edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.edit-profile-image-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgba(159, 123, 113, 0.5);
}

.edit-profile-title {
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

.edit-profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 8px solid;
}

.edit-profile-info-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  margin-bottom: 10px;
}

.edit-profile-info-wrapper {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.edit-profile-title-info {
  width: 25%;
  margin-right: 30px;
  font-size: 20px;
}

.edit-profile-text-info {
  width: 75%;
  border: none;
  border-bottom: 2px solid rgba(159, 123, 113, 0.5);
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
  color: inherit;
}

.edit-profile-selection-info {
  width: 75%;
  border: 2px solid rgba(159, 123, 113, 0.5);
  font-size: 20px;
  padding: 10px 10px;
  text-align: left;
  color: inherit;
  cursor: pointer;
  border-radius: 10px;
}

.edit-profile-text-info:focus {
  outline: none;
}

.custom-file-upload {
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.custom-file-edit {
  margin-right: 8px;
  margin-top: 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  background-color: #9f7b71;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-input {
  display: none;
}

.edit-profile-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  background-color: white;
}

.profile-photo-submit {
  display: flex;
  flex-direction: column;
}

.link-wrapper {
  text-decoration: none;
}
