.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-chapter-wrapper {
  width: 60%;
}

.chapter-title-container {
  width: 100%;
  background-color: antiquewhite;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chapter-title-wrapper {
  text-align: left;
}

.chapter-lesson-wrapper {
  display: flex;
  width: 100%;
  background-color: rgb(229, 229, 229);
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.chapter-lesson-btn {
  height: 65px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

.chapter-lesson-btn::before {
  content: "";
  background-color: rgb(104, 219, 180);
  height: 10px;
  width: 100%;
  z-index: -1;
  top: 32px;
  position: absolute;
}

.chapter-lesson-btn::after {
  content: "";
  background-color: aquamarine;
  width: 100%;
  z-index: -1;
  position: absolute;
  box-shadow: rgb(104, 219, 180) 0px 7px 0px;
  height: 65px;
  border-radius: 50%/50%;
}

.chapter-lesson-btn::after:hover {
  background-color: black;
  box-shadow: rgb(100, 212, 175) 0px 8px 0px;
}

.chapter-lesson {
  position: absolute;
  color: black;
}
