.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  width: 50%;
  height: 80%;
  flex-direction: column;
  align-items: center;
}

.profile-image-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.profile-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info-wrapper {
  width: 100%;
  margin-bottom: 15px;
}

.profile-info {
  width: 100%;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: left;
}

.profile-input-box {
  width: 95%;
  height: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(187, 187, 187);
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
  padding-left: 10px;
  font-size: 20px;
}

.profile-settings-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
