.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-chapter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.chapter-title-container {
  width: calc(100% - 100px);
  background-color: #ffe7e6;
  border-radius: 20px;
  padding: 5px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #570344;
  border-style: solid;
  border-width: 2px 2px 8px;
  border-color: #570344;
}

.chapter-title-wrapper {
  text-align: left;
}

.chapter-lesson-wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 16px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 30px;
}

.chapter-lesson-btn {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
  background-color: #eca495;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px 2px 8px;
  border-color: #00000029;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.chapter-lesson-btn:hover {
  background-color: #e79787;
}

.chapter-lesson {
  position: absolute;
}
