.lesson-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lesson-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.question-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
