.nav-logo {
  object-fit: cover;
  width: 200px;
  margin-top: 35px;
  margin-bottom: 20px;
}

.nav-link-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.mini-character {
  width: auto;
  height: 150px;
  object-fit: cover;
}

.landing-logo {
  width: auto;
  height: 750px;
  object-fit: cover;
}

.setting-button {
  width: 40px;
  height: 40px;
  object-fit: cover;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.setting-button:hover {
  transform: rotate(45deg);
}

.log-button {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.edit-button {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.sound {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.teacher {
  height: 500px;
  object-fit: cover;
}
