.user-question-wrapper {
  background-color: orange;
  font-size: 30px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9f7b71;
}

.user-answer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  flex: 1;
}

.meaning-selected {
  background-color: rgba(233, 171, 158, 0.847);
  color: #9f7b71;
}

.wordArray-grid {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  /* width: 320px; */
  background-color: blueviolet;
}
